@import '@fontsource/manrope/400.css';
@import '@fontsource/manrope/600.css';
@import '@fontsource/manrope/700.css';
@import '@fontsource/work-sans/400.css';
@import '@fontsource/work-sans/500.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  body { 
    @apply font-body bg-surface text-on-surface; 
  }
  
  h1, h2, h3 { 
    @apply font-headline; 
  }
  
  .no-scrollbar::-webkit-scrollbar { display: none; }
}

@layer utilities {
  .ambient-shadow {
    box-shadow: 0 12px 32px rgba(115, 53, 18, 0.06);
  }
}
